# Common environment variables for Vault setup
export RESOURCE_PREFIX="ski001"
export TF_VAR_owner="Sitaram Iyer"

# Vault version
export TF_VAR_vault_version="1.21.2"

# AWS configuration
export AWS_PROFILE=REPLACE_WITH_AWS_PROFILE
export AWS_REGION=us-east-2
# Route53 / DNS
export TF_VAR_zone_id="REPLACE_WITH_ROUTE53_ZONEID"
export TF_VAR_domain_name=${RESOURCE_PREFIX}.<REPLACE_WITH_DOMAIN_NAME>

# Set in terraform.tfvars or override here. 
# Override anything from variables.tf
# or define in terraform.tfvars file.
# Example: export TF_VAR_<variable_name>=<value>

#export TF_VAR_instance_type="t3.medium"