# CyberArk Secrets Hub environment variables
# Base discovery URL 
export OIDC_DISCOVERY_URL="https://REPLACE_WITH_TENANT/REPLACE_WITH_APPLICATION/"
export OIDC_AUDIENCE="REPLACE_WITH_AUDIENCE_IDENTIFIER"
export SUBJECT="REPLACE_WITH_SUBJECT_IDENTIFIER"

# number of sample secrets to create in vault
export NUM_OF_SAMPLE_SECRETS=2
export SECRETS_NAME="cool-secrets"