instance_type = "t3.small"

# OPTIONAL: extra allowed CIDRs for HTTPS 
# Current Local IP /32 will be detected and added automatically
allowed_additional_cidrs = [
  # "203.0.113.10/32",
  # "198.51.100.0/24"
]

tags = {
  Purpose = "demo"
  Environment = "demo"
}
